name: authenticate-sample-asset

on:
  push:
    branches: [main]

jobs:
  notarize-sample-asset:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
    
      - name: authenticate sample asset
        #--> Run the GitHub action
        uses: codenotary/cas-notarize-asset-github-action@main
        with:
          # Whatever asset is being notarized, can be a target/ or dist/ compiled binary or any type of file
          # Your signerID is the only thing needed to authenticate assets, this can be provided in both base64 or plaintext, and will be the email address used to generate your API Key
          asset: Asset.txt
          signerID: Y29kZW5vdGFyeXRlc3QrMTNAZ21haWwuY29t

